$baseColor : #fff;//#e74c3c;

svg{
  width: 120px;
  // height: 100px;
  margin: 20px;
  display:inline-block;
}
body{
  background: $baseColor;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
